
footer{
	background-color: rgb(27,23,24);
	height: 428px;
}

footer .contacto{
	height: 35%;
}
footer .contacto div{
	position: absolute;
	font-size: 13px;
    height: 100%;
    width: 100%;
    text-align: center;
}

footer .contacto .titulo{
	font-size: 35px;
	font-weight: bold;
	color: #00f07f;
	margin:0px 0px 0px 0px;
	margin-top: 30px;
	margin-bottom: 10px;
}

footer .menu-footer ul li p{
	margin: 0;
	border-bottom-color: white;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-size: 15px;
	text-align: center;
}


footer .menu-footer ul{
	position: absolute;
    left: 44%;
    transform: translateX(-50%);
    bottom: 25px;
		margin-left: 5%;
 }

footer div{
	display: block;
	position: relative;
	color: white;
	font-family:'Open Sans', sans-serif;
	width: 100%;
	height: 21.66666%;
}


footer .logo-footer img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 60%;
	left: 20%;
}

footer .sn-footer ul{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
 }

footer .sn-footer ul li img{
	height: 50px;
}
footer .sn-footer ul li{
	float: left;
}

footer div ul{
	  list-style-type: none;
}

@media(min-width: 768px){
footer{
	background-color: rgb(27,23,24);
	height: 200px;
}

footer .contacto{
	height: 100%;
}


footer .contacto div{
	position: absolute;
	font-size: 13px;
	top: 50%;
    transform: translateY(-35%);
    height: 100%;
    width: 100%;
    left: 50px;
    text-align: initial;
		margin-top: 10px;

}

footer .contacto .titulo{
	font-size: 35px;
	font-weight: bold;
	color: #00f07f;
	margin:0px 0px 10px 0px;

}

footer .menu-footer ul li p{
	margin: 0;
	border-bottom-color: white;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-size: 15px;
	text-align: initial;
}


footer .menu-footer ul{
	position: absolute;
	top: 55%;
 	transform: translateY(-50%);
 	left: 0;
 }

footer div{
	display: inline-block;
	position: relative;
	color: white;
	font-family:'Open Sans', sans-serif;
	width: 24%;
	height: 100%;
}


footer .logo-footer img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	left: 0;
}

footer .sn-footer ul{
	position: absolute;
	top: 31%;
    left: 36%;
		margin-left: 10%;
		margin-top: 10%;
}

footer .sn-footer ul li img{
	height: 40px;
	}

footer .sn-footer ul li{
	float: left;
}

footer div ul{
	  list-style-type: none;
}
}
