.tablet1 {display: none;}
.tablet2 {display: none;}
.tableth1 {display:none;}
.tableth2 {display: none;}

.inicio {
      padding-top: 115px;
}
.mobile1 {
  width: 100%;
}
.mobile2 {
  margin-top: 3%;
  width: 100%;
}
.inicio {width: 100%;}
.inicio1 button{
    position: relative;
    bottom: 52px;
    left: 15px;
    color: rgba(0,240,127,1);
    font-size: 13px;
    padding: 5px 30px 5px 30px;
    font-weight: bold;
    border-color: #fff;
    border-width: 3px;
    border-style: solid;
    background-color: rgba(0,0,0,0);
}
.inicio2 button{
    position: relative;
    bottom: 47px;
    left: 167px;
    color: #fff;
    font-size: 13px;
    padding: 5px 30px 5px 30px;
    font-weight: bold;
    border-color: rgba(0,240,127,1);
    border-width: 3px;
    border-style: solid;
    background-color: rgba(0,0,0,0);
}
@media (min-width:480px) {
  .inicio1 button{
    position: relative;
      bottom: 67px;
      left: 50px
  }
  .inicio2 button {
    position: relative;
bottom: 67px;
left: 283px;
  }
}
@media (min-width: 768px){
  .mobile1 {display: none;}
	.mobile2 {display: none;}
	.tablet1{display: inline-block;width: 100%;}
	.tablet2 {display: inline-block;width: 100%;}

  .inicio1 {
    display: inline-block;
    width: 49%
  }
  .inicio2 {
    display: inline-block;
    width: 49%;
  }
  .inicio1 button{
    position: relative;
    bottom: 58px;
    left: 18px;
    color: rgba(0,240,127,1);
    font-size: 12px;
    font-weight: bold;
    border-color: #fff;
    border-width: 5px;
    border-style: solid;
    background-color: #fff;
}
.inicio2 button{
    position: relative;
    bottom: 58px;
    left: 230px;
    color: #fff;
    font-size: 12px;
    padding: 5px 30px 5px 30px;
    font-weight: bold;
    border-color: rgba(0,240,127,1);
    border-width: 5px;
    border-style: solid;
    background-color: rgba(0,240,127,1);
}
}
@media (min-width: 960px) {
  .mobile1 {display: none;}
  .mobile2 {display: none;}
	.tablet2 {display: none;}
	.tablet1 {display: none;}
	.tableth1 {display: inline-block;width: 100%; }
	.tableth2 {display: inline-block;width: 100%;    margin-left: 3%;}

  .inicio1 button{
    position: relative;
        bottom: 85px;
left: 57px;
color: rgba(0,240,127,1);
font-size: 29px;
padding: 5px 30px 5px 30px;
font-weight: bold;
border-color: #fff;
border-width: 5px;
border-style: solid;
background-color: #fff;

}
.inicio2 button{
  position: relative;
  bottom: 85px;
  right: 57px;
  color: #fff;
  font-size: 29px;
  padding: 5px 30px 5px 30px;
  font-weight: bold;
  border-color: rgba(0,240,127,1);
  border-width: 5px;
  background-color: rgba(0,240,127,1);
}
}
@media (min-width: 1200px) {
  .inicio1 button {
    position: relative;
bottom: 108px;
left: 96px;
  }
  .inicio2 button {
  position: relative;
  bottom: 109px;
  left: 292px;
  }

}
