.help-container {
  width: 100%;
}
.tit-ayuda {
  width: 100%;
  margin: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.h1-ayuda {
  color: #514d49;
  font-weight:bold;
  font-family: 'Nunito Sans', sans-serif;
}
.h2-ayuda {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  color: #42f471;
  margin-top:2%;
}
.web {
  display: none;
}
@media (min-width: 768px){
  .mobile {display: none;}
  .web{display: inline-block;}
}
