html,body {
  padding: 0;
  margin: 0;
  border: 0;
  overflow-x: hidden;
}

.img-faqs { display: none;}
/*FORMULARIO LOGIN*/
.form-login {
  width: 100%;
  text-align: center;
  background-color: #808080;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}
.boton-ingresar {
background-color: transparent;
 color: white;
 font-weight: bold;
 border-color: white;
 border-style: solid;
 padding: 2%;
}
.input-checkbox {
  position: absolute;
  top: 27%;
}
.input {
border-top: none;
border-left: none;
border-right: none;
background-color:  #808080;}
.h1-login {
  font-size: 1rem;
  margin: 0;
  padding-top: 4%;
  padding-bottom: 4%;
}
.recuerdame { color:#42f471; }
a {
  text-decoration: none;
  color: #00f07f;
}
/*FORMULARIO registrarse*/
.form-registrarse {
  width: 100%;
  text-align: center;
  background-color: white;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}
.h1-cuenta {
  font-size: 1rem;
  margin: 0;
  padding-top: 4%;
  padding-bottom: 4%;
  color: black;
}
.input-checkbox-cuenta {
      position: absolute;
      top: 24.5%;
}
.boton-ingresar-cuenta {
   background-color: transparent;
   color: #42f471;
   font-weight: bold;
   border-color: #42f471;
   border-style: solid;
   padding: 2%;
}
.input-cuenta {
border-top: none;
border-left: none;
border-right: none;
border-color: #808080;
color: #808080;
}
.termino-condiciones{color: #808080;font-family: 'Nunito Sans', sans-serif;font-size: 0.7rem;text-decoration: underline;}
/*F&Q*/
.preg-container {
  margin-top: 100px;
  width: 100%;
  background-color: #808080;
  overflow: hidden;
  color: white;
}
.h1-faqs {
  color: white;
  display: block;
  margin-top:37px;
  margin-left: 31px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  left: 5%;
  top: 3%;
  font-size: 2rem;
}
.h2-preg {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  color: #42f471;
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 18px;
}
.preg {
  width: 100%;
  margin: 5%;
}
.preg p {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  padding-right: 12%;
}
.preg-1 {
  width: 100%;
  margin: 5%;
  font-family: 'Nunito Sans', sans-serif;
}
.preg-1 p {
  padding-right: 12%;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

/*ayuda*/
.help-container {width: 100%; margin-top: 50px;}
.tit-ayuda {
  width: 100%;
  margin: 5%;
  margin-top: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.h1-ayuda {
  color: #514d49;
  font-weight:bold;
  font-family: 'Nunito Sans', sans-serif;
}
.h2-ayuda {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  color: #42f471;
  margin-top:2%;
}
.grafico {
  width: 100%;
}
.grafico-img {
  width: 100%;
}
.grafico-web {display: none;}

@media (min-width:468px){
  .h1-faqs {top: 5%;}
  .h1-ayuda { font-size: 1.6rem;}
    .h2-ayuda {font-size: 1.4rem;}
}
@media (min-width: 768px) {
  .img-faqs {
    display: inline-block;
    width: 84%;
    text-align: center;
    margin-left: 4%;
    margin-top: 8%;
  }
  .h1-faqs {
   left: 3%;
   top: 7%;
   margin-top: 55px;
  }
  .preg1-2 {
    width: 30%;
    float: left;
    margin-left: 10px;
  }
  .preg-container h2 {font-size: 18px;}
  .preg-container p { font-size: 12px;}
  .preg3-4 {
    width: 30%;
    float: left;
    margin-left: 2%;
  }
  .preg5-img {
    width: 30%;
    float: left;
    margin-right: 10px;
    margin-left: 5%;
  }
  .grafico-img {display: none;}
  .grafico-web {
    display: inline-block;
    width: 95%;
    padding-left: 2%;
  }
  .h1-ayuda {font-size: 2rem; text-align: center;}
  .h2-ayuda {font-size: 1.8rem; text-align: center;}
}
@media (min-width:960px){
  .preg-container h2{font-size: 22px;}
  .preg-container p {font-size: 15px;}
  .grafico-mobile {display: none;}
  .h1-ayuda {font-size: 2.4rem;}
  .h1-ayuda {font-size: 2rem;}
}
@media (min-width:1200px){
  .preg-container h2{font-size: 28px;}
  .preg-container p {font-size: 18px;}
  .h1-ayuda {font-size: 3.4rem;}
  .h1-ayuda {font-size: 3.2rem;}
}
